image: mcr.microsoft.com/dotnet/sdk:6.0

variables:
  DOTNET_ENVIRONMENT: "Test"

stages:
  - test

before_script:
  # Update packages
  - apt-get update
  # Install dependencies for Google Chrome
  - apt-get install -y wget gnupg
  - wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | apt-key add -
  - echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | tee /etc/apt/sources.list.d/google-chrome.list
  - apt-get update
  - apt-get install -y google-chrome-stable
  - apt-get install -y \
      fonts-liberation \
      libasound2 \
      libatk-bridge2.0-0 \
      libatk1.0-0 \
      libatspi2.0-0 \
      libcairo2 \
      libcups2 \
      libdbus-1-3 \
      libdrm2 \
      libgbm1 \
      libglib2.0-0 \
      libgtk-3-0 \
      libnspr4 \
      libnss3 \
      libpango-1.0-0 \
      libu2f-udev \
      libvulkan1 \
      libx11-6 \
      libxcb1 \
      libxcomposite1 \
      libxdamage1 \
      libxext6 \
      libxfixes3 \
      libxkbcommon0 \
      libxrandr2 \
      xdg-utils

test_job:
  stage: test
  script:
    - echo "Setting up the environment..."
    - export PATH="$PATH:$HOME/.dotnet/tools"
    - dotnet restore
    - dotnet test TestProject.sln --filter "FullyQualifiedName~TestProject.e2e" --logger "trx;LogFileName=test-results.trx" --results-directory TestProject/e2e/
    - ls -R TestProject/e2e/
  artifacts:
    when: always
    paths:
      - TestProject/e2e/test-results.trx
