image: mcr.microsoft.com/dotnet/sdk:8.0

variables:
  DOTNET_ENVIRONMENT: "Test"

stages:
  - test

test_selenium:
  stage: test
  script:
  - echo "Starting the test job..."
  - apt-get update
  - apt-get install -y wget unzip jq
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - apt-get install -y ./google-chrome-stable_current_amd64.deb
  - CHROME_VERSION=$(google-chrome --version | grep -oP '\d+\.\d+\.\d+')
  - MAJOR_VERSION=$(echo $CHROME_VERSION | cut -d '.' -f1)
  - wget https://googlechromelabs.github.io/chrome-for-testing/last-known-good-versions-with-downloads.json -O lkg.json
  - CHROMEDRIVER_URL=$(jq -r --arg version "$MAJOR_VERSION" '.channels | .[] | select(.version | startswith($version)).downloads.chromedriver[] | select(.platform == "linux64").url' lkg.json)
  - wget $CHROMEDRIVER_URL -O chromedriver-linux64.zip
  - unzip chromedriver-linux64.zip
  - mv chromedriver-linux64/chromedriver /usr/local/bin/chromedriver
  - chmod +x /usr/local/bin/chromedriver
  - dotnet restore
  - dotnet test TestProject.sln --filter "FullyQualifiedName~TestProject.e2e" --logger "trx;LogFileName=test-results.trx" --results-directory e2e/test-results
  - echo "Listing test-results directory:"
  - ls -R e2e/test-results

  artifacts:
    when: always
    reports:
      junit: e2e/test-results/test-results.trx 
    paths:
      - e2e/test-results/test-results.trx
  cache:
    paths:
      - e2e/ # Cache the e2e directory to speed up future jobs