image: mcr.microsoft.com/dotnet/sdk:8.0

variables:
  DOTNET_ENVIRONMENT: "Test"

stages:
  - test

test_selenium:
  stage: test
  script:
    - echo "Starting the test job..."
    - dotnet restore
    - dotnet test TestProject.sln --filter "FullyQualifiedName~TestProject.AutomationTests" --logger "trx;LogFileName=test-results.trx" --results-directory e2e/test-results
    - ls -R e2e/test-results
  artifacts:
    when: always
    paths:
      - e2e/test-results/test-results.trx
  cache:
    paths:
      - e2e/ # Cache the e2e directory to speed up future jobs
